* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

.background{
  background-image: url('background.jpg');
  height: 100vh;
  background-size: cover;
  position: relative;
}

.layover{
  width: 61%;
  height: 91%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img{
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 205px;
}

.logo-testo{
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  color: limegreen;
}

.rettangolo-verde{
  height: 35px;
  width: 750px;
  background-color: limegreen;
  position: relative;
  top: 200px;
  left: 90px;
}

button{
  position: relative;
  left: 240px;
  top: 8px;
}

span{
  font-size: 22px;
}

.testo-monopattini{
  color: white;
  position: relative;
  left: 90px;
  top: 220px;
}

.testo-monopattini2{
  color: white;
  position: relative;
  left: 90px;
  top: 240px;
}

.testo-monopattini3{
  color: white;
  position: relative;
  left: 90px;
  top: 260px;
}

.rettangolo-carica1{
  height: 20px;
  width: 280px;
  background-color: orange;
}

.rettangolo-carica2{
  height: 20px;
  width: 450px;
  background-color: limegreen;
}

.rettangolo-carica3{
  height: 20px;
  width: 130px;
  background-color: red;
}
